<!DOCTYPE HTML>
<html manifest="">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <title>Dienstemanager</title>

    <script src="resources/libs/socket.io-client/dist/socket.io.js"></script>
    <script src="resources/libs/file-saver/dist/FileSaver.min.js"></script>
    <script src="resources/libs/moment/min/moment.min.js"></script>
    <script src="resources/libs/underscore/underscore-min.js"></script>
</head>
<body>{{{body}}}</body>
</html>
