// COLOR PALETTE

$dm-dark-background: dynamic(#3e4752);
$dm-light-background: dynamic(#ececec);
$dm-tile-background: dynamic(#ffffff);

$dm-blue-color: dynamic(#2e6eaf);
$dm-red-color: dynamic(#f1495b);
$dm-green-color: dynamic(#11c897);
$dm-light-blue-color: dynamic(saturate(lighten($dm-blue-color, 53%), 70%));

$dm-font-light-color: dynamic(#a0a7b8);
$dm-font-color: dynamic(#878ea2);
$dm-font-dark-color: dynamic($dm-dark-background);

$panel-navigation-background-color: #555;
$panel-navigation-item-line-height: 50px;
$panel-navigation-item-text-color: #ffffff;

$base-color:#35baf6;
$circle-border-radius:50%;
$base-border-color: #ddd;
$lightest-color:#fff;
$font-weight: normal;
$font-family: "HamburgSans","Arial Narrow",Arial,sans-serif;

$accordion-header-background-color: $lightest-color;
$accordion-header-color: #333;

//Form and Toolbar Button UI colors

$color-blue: #167abc;
$color-soft-cyan: #03b4d5;
$color-soft-blue: #2eadf5;
$color-soft-green: #9cc96b;
$color-soft-red: #e44959;
$color-soft-purple: #925e8b;
$color-gray: #949495;
$color-green: #16b603;

$dm-font-size-small-content: dynamic(12px);
$dm-font-size-content: dynamic(14px);
$dm-font-size-small-title: dynamic(14px);
$dm-font-size-medium-title: dynamic(18px);
$dm-font-size-large-title: dynamic(20px);
$dm-font-size-xlarge-title: dynamic(28px);

$dm-font-regular: dynamic(400);
$dm-font-semibold: dynamic(500);
$dm-font-bold: dynamic(800);

$button-small-border-radius: dynamic(3px);
$button-default-border-color: dynamic($base-color);
$button-toolbar-border-color: dynamic($button-default-border-color);

$button-default-background-color: dynamic($base-color);
$button-toolbar-background-color: dynamic($button-default-background-color);

$button-default-hover-background-color: darken($base-color, 5%);
$button-toolbar-hover-background-color: dynamic($button-default-hover-background-color);

$button-default-color: dynamic(white);
$button-toolbar-color: dynamic($button-default-color);

//$button-toolbar-inner-border-color-focus: dynamic(mix($button-toolbar-background-color, $button-toolbar-color, 20%));

$button-small-font-size: dynamic($dm-font-size-small-content);
$button-small-font-weight: dynamic($dm-font-regular);
