<script type="text/javascript">
    window.socket = io(window.location.origin || window.location.protocol + "//" + window.location.hostname + (window.location.port ? ":" + window.location.port : ""), {
        path: "/dm_ws"
    });

    var Ext = Ext || {};

    Ext.beforeLoad = function (tags) {
        var s = location.search,
            profile;

        if (s.match(/\bclassic\b/)) {
            profile = 'classic';
        }
        else if (s.match(/\bmodern\b/)) {
            profile = 'modern';
        }
        else {
            profile = tags.desktop ? 'classic' : 'modern';
        }

        Ext.manifest = profile;
    };

    window.auth_user = "{{username}}";
    window.read_only = {{readonly}};
</script>

<script id="microloader" data-app="ab25b658-1c71-41a6-9237-49d520bdb059" type="text/javascript" src="bootstrap.js"></script>
